<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TigerLRM">
  
  <listeners>
<listener class-name="TigerLRM.utilities.Reporting"/>
</listeners>
  
  
    <test name="Lead Relationship Management Test"> 
     
    <classes>
       <!--  <class name="TigerLRM.testCases.TC0_SignUpPage"/> --> 
       <class name="TigerLRM.testCases.TC_LoginTest"/> 
       <class name="TigerLRM.testCases.TC2_CreateLeadPage"/>
    </classes>
    
    </test>
</suite> 


